.footerbody{
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    padding: 20px 50px 20px 50px;
    color: white;
    background-color: black;
}

.footerbody h4:hover{
    cursor: pointer;
   color: #007aff;
}
.footerbody h2{
    color: #007aff;
}

.footer1{

    
}