*{
line-height: 0px;

}
.nav{
    /* border: solid red; */
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    
}
.navright{
    /* border: solid green; */
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
.link{
   text-decoration: none;
   color: blue;
}
.link :hover{
    color: lightblue;
}