
.nav{
    line-height: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 20px 90px 20px 90px;
    display: flex;
    justify-content: space-between;
    
}
.navright{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
.link{
   text-decoration: none;
   color: #007aff;
}
.link :hover{
    color: lightblue;
}